@model  OpenCodeCamp.WebMvc.ViewModels.NewsletterSubscriptionViewModels.NewsletterSubscriptionFormViewModel
@{
}

<h1>Newsletter component form!</h1>
<form method="post" id="newsletterSubscriptionForm">
    <input type="email" asp-for="EmailAddress" />
    <button type="submit" value="M'abonner"  />
</form>