@using OpenCodeCamp.OutgoingCommunications.EmailDocumentsLibrary.Views.Emails.ConfirmNewsletterSubscription
@using OpenCodeCamp.OutgoingCommunications.EmailDocumentsLibrary.Views.Shared
@model ConfirmNewsletterSubscriptionViewModel

@{
    ViewData["EmailTitle"] = "Welcome!";
}

<td align="center" valign="top" width="100%" style="background-color: #f7f7f7;" class="content-padding">
    <center>
        <table cellspacing="0" cellpadding="0" width="600" class="w320">
            <tr>
                <td class="header-lg">
                    Confirmation d'inscription à la newsletter
                </td>
            </tr>
            <tr>
                <td class="free-text">
                    Merci de confirmer votre inscription à la newsletter Open Code Camp.
                </td>
            </tr>
            @await Html.PartialAsync("_EmailButton", new EmailButtonViewModel("Confirmer mon inscription", Model.ConfirmEmailUrl))
        </table>
    </center>
</td>